<div class="mainDiv pt-5">
  <div class="container  m-auto w-50">
    <div class="container pt-2 mt-5 secondDiv rounded-5">
      <div
        [class.d-none]="tocken == 0"
        class="p-3 mt-1 float-right bg-success text-white"
        style="width: 165px"
      >
        Register successfully
      </div>
      <!-- <img src="../../../assets/register.jpeg" alt="register.png"> -->
      <h1 class="text-center">Registration</h1>
      <form
        [formGroup]="register"
        class="w-100 border border-dark p-5"
        (ngSubmit)="registerLogin()"
      >
        <div>
          <label class="d-inline w-25 me-5">Full Name</label>
          <input
            type="text"
            formControlName="Name"
            name="Name"
            class="form-control d-inline w-75 ms-2"
            [class.is-invalid]="
              (Name?.invalid && Name?.touched) || (submited && Name?.untouched)
            "
          />
          <small
            class="ms-5 ps-5 text-danger"
            *ngIf="Name?.invalid && Name?.touched"
          >
            Name required</small
          >
        </div>

        <div class="mt-3">
          <label class="d-inline w-25">Company Name</label>
          <input
            type="text"
            formControlName="CompanyName"
            name="Cname"
            class="form-control d-inline w-75 ms-4"
            [class.is-invalid]="
              (CompanyName?.invalid && CompanyName?.touched) ||
              (submited && CompanyName?.untouched)
            "
          />
          <small
            class="ms-5 ps-5 text-danger"
            *ngIf="CompanyName?.invalid && CompanyName?.touched"
            >Company Name required</small
          >
        </div>

        <div class="mt-3">
          <label class="d-inline w-25 me-5">email</label>
          <input
            type="email"
            formControlName="Email"
            name="email"
            class="form-control d-inline w-75"
            style="margin-left: 40px"
            [class.is-invalid]="
              (Email?.invalid && Email?.touched) ||
              (submited && Email?.untouched)
            "
          />
          <small
            class="ms-5 ps-5 text-danger"
            *ngIf="Email?.invalid && Email?.touched"
            >Email required</small
          >
          <small class="ms-5 ps-5 text-danger" *ngIf="emailExist"
            >user already exist</small
          >
        </div>
        <div class="mt-3">
          <label class="d-inline w-25 me-5">Password</label>
          <input
            type="password"
            formControlName="Password"
            name="password"
            class="form-control d-inline w-75 ms-3"
            [class.is-invalid]="
              (Password?.invalid && Password?.touched) ||
              (submited && Password?.untouched)
            "
          />
          <small
            class="ms-5 ps-5 text-danger"
            *ngIf="Password?.errors?.['required'] && Password?.touched"
            >Password required</small
          >
          <small
            class="ms-5 ps-5 text-danger"
            *ngIf="Password?.errors?.['minlength']"
            >Password must be 6 character</small
          >
        </div>
        <div class="mt-3">
          <label class="d-inline w-25">Confirm Password</label>
          <input
            type="password"
            formControlName="ConfirmPassword"
            name="Cpassword"
            class="form-control d-inline w-75 ms-2"
            [class.is-invalid]="register.errors?.['misMatch'] || submited && ConfirmPassword?.untouched"
          />
          <small
            class="ms-5 ps-5 text-danger"
            *ngIf="register.errors?.['misMatch']"
            >Password doesn't match</small
          >
          <!-- ConfirmPassword?.invalid && ConfirmPassword?.touched -->
        </div>
        <small class="ms-5 ps-5 text-danger" *ngIf="submited"
          >Please fill all details</small
        >
        <small class="ms-5 ps-5 text-danger" *ngIf="errorFromserver">{{
          errorFromserver
        }}</small>
        <div class="mt-3 ms-5">
          <button mat-raised-button color="primary" type="submit">
            Register
          </button>
          <button
            mat-flat-button
            color="accent"
            class="ms-5"
            type="reset"
            (click)="reset()"
          >
            cancle
          </button>
          <p class="mt-2">
            already have an account!<span
              ><button mat-button color="primary" (click)="signIn()">
                Sign in
              </button>
            </span>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
