<form [formGroup]="forgotPasswordForm" class="container w-50 border p-5 box">
    <h1 class="ms-5 mb-5">Enter your Email to get Forgot Password link</h1>
  <div class="ms-5">
    <label class="d-inline ms-1 me-5 w-25">Email</label>
    <input
      type="email"
      formControlName="email"
      name="email"
      class="w-75 form-control d-inline"
      [class.is-invalid] = "(Email?.invalid && Email?.touched)||(Message)"
    />
  </div>
  <div class="ms-5 mb-2">
    <small *ngIf="Message" class="text-danger ms-5"
      >Please enter valid email</small
    >
  </div>
  <div class="ms-5">
    <button
      mat-raised-button
      color="primary"
      class="submit d-inline mt-5"
      (click)="submit()"
    >
      send verification email
    </button>
    <p class="ms-5 mt-3 d-inline">
      <span class=""
        ><button mat-button color="primary" (click)="goback()">
          go back
        </button></span
      >
    </p>
   </div>
</form>
