<div>
  <nav class="navbar text-white p-3 py-4 bg-dark">
    <a class="navbar-brand w-75 ms-3 text-white">Home Page</a>
    <div class="border-start ps-5">
      <div (click)="org()" class="" style="cursor: pointer">
        <mat-icon
          class="ms-2"
          aria-hidden="false"
          aria-label="Example edit icon"
          fontIcon="group"
        ></mat-icon>
        <div>Org Page</div>
      </div>
    </div>

    <div
      [class.d-none]="data.role == 'user'"
      (click)="addProfile()"
      class=""
      style="cursor: pointer"
    >
      <mat-icon
        class="ms-2"
        aria-hidden="false"
        aria-label="Example add profile icon"
        fontIcon="person_add"
      ></mat-icon>
      <div>add User</div>
    </div>

    <div class="me-5" (click)="logout()" style="cursor: pointer">
      <mat-icon
        aria-hidden="false"
        aria-label="Example logout icon"
        fontIcon="logout"
        class=""
      ></mat-icon>
      <div class="">logout</div>
    </div>
  </nav>
  <div class="pt-5 profile">
    <div class="w-50 m-auto p-5 rounded-3 shadow border bg-body">
      <div class="m-auto text-center">
        <img
          src="../../../../assets/profile.webp"
          alt="Profile"
          class="w-25 rounded-circle"
          data-toggle="tooltip"
          title="Name {{ data.name }} & created on {{ data.createdAt }}"
        />
      </div>
      <div class="m-auto w-75 mt-5">
        <div class="fs-5 mt-3">
          Name:
          <span style="margin-left: 120px">{{ data.name }}</span>
          <div
            *ngIf="data.isEmailVerified; else notverified"
            class="ms-1 d-inline"
            data-toggle="tooltip"
            title="verified"
          >
            <i class="fa-solid fa-check text-success rounded-circle"></i>
          </div>
          <ng-template #notverified>
            <button
              class="d-inline ms-1 border-0"
              (click)="sendverificationemail()"
              data-toggle="tooltip"
              title="click to verified"
            >
              <i
                class="fa-solid fa-circle-exclamation text-warning bg-dark rounded-circle"
              ></i></button
          ></ng-template>
        </div>
        <div class="fs-5 mt-3">
          Company Name:
          <span style="margin-left: 30px">{{ data?._org?.name }}</span>
        </div>
        <div class="fs-5 mt-3">
          Email: <span style="margin-left: 122px">{{ data?.email }}</span>
        </div>
        <div class="fs-5 mt-3">
          Role:
          <span style="margin-left: 133px" class="text-capitalize">{{
            data?.role
          }}</span>
        </div>
        <div class="fs-5 mt-5"></div>
      </div>
    </div>
  </div>
</div>
