.navbar-brand {
    width: 100px;
    height: 100px;
}
td,th{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.form-select{
    border: none;
    border-bottom: 1px solid black;
}