<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <div
        class="navbar-brand d-flex justify-content-center align-items-center border-end pe-4"
      >
        <span class="display-2">{{ org }}</span>
      </div>
    </a>
    <a>
      <div class="me-auto text-white">
        <div class="fs-4">
          {{ orgName }}
        </div>
        <div class="mt-2">
          {{ orgEmail }}
        </div>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ms-lg-auto border-start ps-lg-4 me-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="/seller/profile">
            <mat-icon
              class="ms-1"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="home"
              class="d-lg-block d-none mx-lg-auto"
            ></mat-icon>
            <span class="">Home</span>
          </a>
        </li>
        <li class="nav-item" [class.d-none]="loginRole == 'user'">
          <a class="nav-link" (click)="updateOrg()">
            <mat-icon
              class="ms-lg-3"
              aria-hidden="false"
              aria-label="edit organization details"
              fontIcon="settings"
              class="d-lg-block d-none ms-lg-3"
            ></mat-icon>
            <span class="">Update Org</span></a
          >
        </li>
        <li class="nav-item" [class.d-none]="loginRole == 'user'">
          <a class="nav-link" (click)="addProfile()">
            <mat-icon
              class="ms-lg-2"
              aria-hidden="false"
              aria-label="Example add profile icon"
              fontIcon="person_add"
              class="d-lg-block d-none ms-lg-2"
            ></mat-icon>
            <span class=" ">New User</span></a
          >
        </li>
        <li class="nav-item" [class.d-none]="loginRole == 'user'">
          <a class="nav-link" routerLink="/seller/products">
            <mat-icon
              aria-hidden="false"
              aria-label="Example add profile icon"
              fontIcon="list_alt"
              class="d-lg-block d-none m-lg-auto"
            ></mat-icon>
            <span class="">product List</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <mat-icon
              aria-hidden="false"
              aria-label="Example logout icon"
              fontIcon="logout"
              class="d-lg-block d-none"
            ></mat-icon>
            <span class=" ">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="d-flex mt-3 ms-5">
    <div class="w-50">
      <select
        id="sortBy"
        name="sortBy"
        class="form-select w-25"
        (change)="role($event)"
      >
        <option *ngFor="let role of rolearray" [value]="role" class="bg-body">
          {{ role }}
        </option>
      </select>
    </div>

    <div class="input-group rounded ms-auto me-5" style="width: 200px">
      <!-- <input
        type="search"
        class="form-control rounded"
        placeholder="Search by Name"
        aria-label="Search"
        aria-describedby="search-addon"
        #search
        (keyup)="searchinput(search.value)"
      /> -->
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <input
            type="text"
            placeholder="search by name"
            matInput
            #search
            [formControl]="myControl"
            (keyup)="searchinput(search.value)"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
  <table class="container-fluid">
    <tr>
      <th>index</th>
      <th (click)="sortby('name')">
        Name<span class="ms-2">
          <mat-icon
            fontIcon="sort"
            [style.color]="sortBy == 'name' ? 'rgb(10,150,200)' : 'white'"
          >
          </mat-icon>
        </span>
      </th>
      <th (click)="sortby('email')">
        Email<span class="ms-2"
          ><mat-icon
            fontIcon="sort"
            [style.color]="sortBy == 'email' ? 'rgb(10,150,200)' : 'white'"
          ></mat-icon
        ></span>
      </th>
      <th (click)="sortby('updatedAt')">
        updated<span class="ms-2"
          ><mat-icon
            fontIcon="sort"
            [style.color]="sortBy == 'updatedAt' ? 'rgb(10,150,200)' : 'white'"
          ></mat-icon
        ></span>
      </th>
      <th>role</th>
      <th [class.d-none]="loginRole == 'user'">edit</th>
      <th [class.d-none]="loginRole == 'user'">delete</th>
    </tr>
    <tr *ngFor="let result of result; index as i">
      <td>{{ list.page * list.limit - list.limit + i + 1 }}</td>
      <td>
        {{ result.name }}
        <div
          *ngIf="result.isEmailVerified; else notverified"
          class="ms-1 d-inline"
          data-toggle="tooltip"
          title="Verified"
        >
          <i class="fa-solid fa-check bg-success text-white rounded-circle"></i>
        </div>
        <ng-template #notverified>
          <div
            class="d-inline ms-1 border-0"
            data-toggle="tooltip"
            title="Not Verified"
          >
            <i class="fa-solid fa-circle-exclamation text-warning"></i></div
        ></ng-template>
      </td>
      <td
        data-toggle="tooltip"
        title="created on {{ result.createdAt | date: 'medium' }}"
      >
        {{ result.email }}
      </td>
      <td>
        {{ result.updatedAt | date: "medium" }}
      </td>
      <td class="text-capitalize">
        {{ result.role }}
        <mat-icon
          [class.d-none]="loginRole == 'user'"
          aria-label="edit"
          aria-hidden="false"
          fontIcon="edit"
          style="cursor: pointer; color: rgb(52, 52, 211)"
          title="Edit role"
          (click)="editRole(result._id)"
        ></mat-icon>
      </td>
      <td [class.d-none]="loginRole == 'user'">
        <mat-icon
          aria-hidden="false"
          aria-label="Example edit icon"
          fontIcon="edit"
          style="cursor: pointer; color: rgb(52, 52, 211)"
          title="Edit Profile"
          (click)="updateUser(result._id, result.name, result.email)"
        ></mat-icon>
      </td>
      <td [class.d-none]="loginRole == 'user'">
        <mat-icon
          class="text-danger"
          aria-hidden="false"
          aria-label="Example edit icon"
          fontIcon="delete"
          style="cursor: pointer"
          title="Delete Profile"
          (click)="deleteUser(result._id)"
        ></mat-icon>
      </td>
    </tr>
  </table>
  <div *ngIf="result?.length == 0" class="d-flex justify-content-center mt-5">
    data not found
  </div>

  <div style="height: 64px"></div>
  <div id="footer" class="fixed-bottom bg-body pt-2 border-top">
    <div class="container w-100">
      <nav aria-label="page navigation example">
        <ul class="pagination">
          <li
            class="page-item"
            [class.disabled]="list.page - 1 < 1"
            (click)="list.page - 1 < 1 ? '' : gotoPage(list.page - 1)"
          >
            <a class="page-link" style="cursor: pointer">&laquo;</a>
          </li>
          <li
            class="page-item"
            [hidden]="list.page - 2 <= 0"
            (click)="gotoPage(list.page - 2)"
          >
            <a class="page-link" style="cursor: pointer">{{ list.page - 2 }}</a>
          </li>
          <li
            class="page-item"
            [hidden]="list.page - 1 <= 0"
            (click)="gotoPage(list.page - 1)"
          >
            <a class="page-link" style="cursor: pointer">{{ list.page - 1 }}</a>
          </li>
          <li class="page-item" (click)="gotoPage(list.page)">
            <a class="page-link" style="cursor: pointer">{{ list.page }}</a>
          </li>
          <li
            class="page-item"
            [hidden]="list.page + 1 > list.totalPages"
            (click)="gotoPage(list.page + 1)"
          >
            <a class="page-link" style="cursor: pointer">{{ list.page + 1 }}</a>
          </li>
          <li
            class="page-item"
            [hidden]="list.page + 2 > list.totalPages"
            (click)="gotoPage(list.page + 2)"
          >
            <a class="page-link" style="cursor: pointer">{{ list.page + 2 }}</a>
          </li>
          <li
            class="page-item"
            [class.disabled]="list.page + 1 > this.list.totalPages"
            (click)="
              list.page + 1 > this.list.totalPages
                ? ''
                : gotoPage(list.page + 1)
            "
          >
            <a class="page-link" style="cursor: pointer">&raquo;</a>
          </li>
          <li class="page-item ms-5 d-flex flex-row">
            <span class="pt-2 me-2">users per page</span>
            <select
              id="page"
              name="page"
              class="form-select w-auto"
              (change)="pagelimit($event)"
            >
              <option value="5" [selected]="limit == 5">5</option>
              <option value="10" [selected]="limit == 10">10</option>
              <option value="15" [selected]="limit == 15">15</option>
              <option value="20" [selected]="limit == 20">20</option>
            </select>
          </li>
          <!-- <li class="page-item ms-5 d-flex flex-row">
            <div class="w-75 mt-3 me-1">sortBy</div>
            <select
              id="sortBy"
              name="sortBy"
              class="form-select"
              style="width:140px;"
              (change)="sortby($event)"
            >
            <option *ngFor="let sort of sortarray" [value]="sort">{{sort}}</option>
               <option value="name" [selected]="sortBy == 'name'">name</option>
              <option value="email" [selected]="sortBy == 'email' ">email</option>
              <option value="role" [selected]="sortBy == 'role' ">role</option>
              <option value="createdAt" [selected]="sortBy == 'createdAt' ">createdAt</option>
              <option value="updated" [selected]="sortBy == 'updated' ">updated</option>
            </select>
          </li> -->

          <li class="ms-auto">
            <div class="text-secondary mt-3">
              showing result {{ result ? result.length : "0" }} out of
              {{ list.totalResults }}
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
