<app-order-nav></app-order-nav>
<hr />
<div class="d-flex text-center mt-3">
  <span class="ms-3">Sr. No.</span>
  <span class="ms-5">Order Date</span>
  <span class="mx-auto pe-5">Order Id</span>
  <div class="me-auto ms-5 ps-4"><span class=" ms-5 ps-5 w-25">Order Status</span></div>
</div>
<hr />
<div class="accordion" id="accordionExample">
  <div
    class="accordion-item"
    *ngFor="let item of orders?.results; let I = index"
  >
    <h2 class="accordion-header" attr.id="heading{{ I }}">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        attr.data-bs-target="#collapse{{ I }}"
        aria-expanded="true"
        attr.aria-controls="collapse{{ I }}"
      >
        <span class="ms-1">{{ I + 1 }}</span>
        <span class="ms-5"> {{ item?.createdAt | date }}</span>
        <span class="mx-auto">{{ item._id }}</span>
        <div class="ms-auto">
          <div class="me-5">
            <span>{{ item?.status }}</span>
          </div>
        </div>
      </button>
    </h2>
    <div
      attr.id="collapse{{ I }}"
      class="accordion-collapse collapse"
      [class.show]="orders.length == 1"
      attr.aria-labelledby="heading{{ I }}"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="mt-2 border-dark border rounded-2 p-5">
          <div>
            <div class="mx-auto w-25 mt-3">
              Order Id: {{ item._id }}
              <span class="d-block"
                >transactionNo : {{ item.transactionNo }}
              </span>
              <span class="d-block"
                >Last updated : {{ item.updatedAt | date }}
              </span>

              <button
                class="btn btn-outline-info mt-3"
                (click)="orderDetails(item._id)"
              >
                Order Details
              </button>
            </div>
          </div>
          <div class="d-flex mt-3">
            <div>
              <button
                class="btn btn-outline-success"
                [class.d-none]="
                  item.status == 'Dispatched' ||
                  item.status == 'Delivered' ||
                  item.status == 'Cancelled'
                "
                (click)="dispatchOrder(item._id)"
              >
                Dispatch Order
              </button>
              <button
                class="btn btn-outline-success"
                [class.d-none]="
                  item.status == 'Confirmed' ||
                  item.status == 'Delivered' ||
                  item.status == 'Cancelled'
                "
                (click)="deliveredOrder(item._id)"
              >
                Mark As Delivered
              </button>
            </div>

            <div
              [class.d-none]="
                item.status == 'Cancelled' || item.status == 'Delivered'
              "
              class="ms-auto w-25"
            >
              <button
                class="btn btn-outline-danger"
                (click)="cancleOrder(item._id)"
              >
                Cancel Order
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 55px"><span></span></div>
</div>
<div id="footer" class="fixed-bottom bg-body pt-2 border-top">
  <div class="container w-100">
    <nav aria-label="page navigation example">
      <ul class="pagination">
        <li
          class="page-item"
          [class.disabled]="orders?.page - 1 < 1"
          (click)="orders.page - 1 < 1 ? '' : gotoPage(orders.page - 1)"
        >
          <a class="page-link" style="cursor: pointer">&laquo;</a>
        </li>
        <li
          class="page-item"
          [hidden]="orders?.page - 2 <= 0"
          (click)="gotoPage(orders?.page - 2)"
        >
          <a class="page-link" style="cursor: pointer">{{
            orders?.page - 2
          }}</a>
        </li>
        <li
          class="page-item"
          [hidden]="orders?.page - 1 <= 0"
          (click)="gotoPage(orders?.page - 1)"
        >
          <a class="page-link" style="cursor: pointer">{{
            orders?.page - 1
          }}</a>
        </li>
        <li class="page-item" (click)="gotoPage(orders?.page)">
          <a class="page-link" style="cursor: pointer"
            ><u>{{ orders?.page }}</u></a
          >
        </li>
        <li
          class="page-item"
          [hidden]="orders?.page + 1 > orders?.totalPages"
          (click)="gotoPage(orders?.page + 1)"
        >
          <a class="page-link" style="cursor: pointer">{{
            orders?.page + 1
          }}</a>
        </li>
        <li
          class="page-item"
          [hidden]="orders?.page + 2 > orders?.totalPages"
          (click)="gotoPage(orders?.page + 2)"
        >
          <a class="page-link" style="cursor: pointer">{{
            orders?.page + 2
          }}</a>
        </li>
        <li
          class="page-item"
          [class.disabled]="orders?.page + 1 > orders?.totalPages"
          (click)="
            orders?.page + 1 > orders?.totalPages
              ? ''
              : gotoPage(orders?.page + 1)
          "
        >
          <a class="page-link" style="cursor: pointer">&raquo;</a>
        </li>

        <li class="ms-auto">
          <div class="text-secondary mt-3">
            Showing Result
            {{ orders?.results ? orders?.results.length : "0" }} Out Of
            {{ orders?.totalResults }}
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
