<form
  [formGroup]="changePassword"
  class="container  border "
>
  <h1 class="ms-5 mb-5">Enter New Password</h1>
  <div class="ms-5 mb-3 ">
    <label class="d-inline ms-1 me-3 w-25">Old Password</label>
    <input
      type="password"
      formControlName="old_password"
      name="oldpassword"
      placeholder="old password"
      [class.is-invalid]="Password?.invalid && Password?.touched"
      class="w-50 form-control d-inline ms-5"
    />
  </div>
  <div class="ms-5">
    <label class="d-inline ms-1 me-2 w-25">New Password</label>
    <input
      type="password"
      formControlName="new_password"
      name="newpassword"
      placeholder="new Password"
      [class.is-invalid]="NewPassword?.invalid && NewPassword?.touched"
      class="w-50 form-control d-inline ms-5"
    />
  </div>
  <div class="ms-5 mt-3">
    <label class="d-inline ms-1 me-2 w-25">Confirm Password</label>
    <input
      type="password"
      formControlName="new_password"
      name="newpassword"
      placeholder="new Password"
      [class.is-invalid]="ConfirmPassword?.invalid && ConfirmPassword?.touched"
      class="w-50 form-control d-inline ms-4"
    />
  </div>
  <div class="ms-5 mb-2">
    <small *ngIf="Message" class="text-danger ms-5"
      >please enter old-password & new-password</small
    >
  </div>
  <div class="ms-5">
    <button
      mat-raised-button
      color="primary"
      class="submit d-inline mt-3 mb-3"
      (click)="submit()"
    >
      change Password
    </button>
    <button mat-raised-button color="accent" class="ms-5" mat-dialog-close>cancle</button>
  </div>
</form>

