<nav class="navbar navbar-expand navbar-dark bg-dark p-4 sticky-top">
  <a class="navbar-brand text-white ms-5"
    ><img src="../../../assets/AngularMindsLogo.png" height="50rem" />Angular
    Shopping</a
  >
  <div class="navbar navbar-dark ms-auto">
    <ul class="navbar-nav ms-lg-auto ps-lg-4">
      <li class="nav-item">
        <a class="nav-link me-5">
          <mat-icon
            aria-hidden="false"
            aria-label="shopping_cart"
            fontIcon="shopping_cart"
            class="d-block"
          ></mat-icon>
          <span>Cart</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link me-5 dropdown-toggle"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span [class.d-none]="!customer">
            <img
              [src]="profile?.picture"
              height="30rem"
              class="d-block mx-auto rounded-circle"
            />
            <span class="">{{ profile?.name }}</span>
          </span>
          <span [class.d-none]="customer != null">
            <mat-icon
              aria-hidden="false"
              aria-label="Example add profile icon"
              fontIcon="person"
              class="d-block"
            ></mat-icon>
            <span class="">user</span>
          </span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a
              class="dropdown-item"
              [class.d-none]="customer == null"
              routerLink="/shop/customer/profile"
              >profile</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              [class.d-none]="customer == null"
              (click)="Logout()"
              >Logout</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              [class.d-none]="customer != null"
              routerLink="/shop/auth"
              >Sign In</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              [class.d-none]="customer != null"
              routerLink="/shop/auth/register"
              >Register</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div id="mySidenav" class="sidenav mt-3" [style.width]="flag ? '150px' : '0px'">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#submenu1" data-bs-toggle="collapse" class="align-middle">
    <i class="fa fa-sort"></i>
    <span class="ms-1 d-none d-sm-inline">Sort By</span></a
  >
  <ul
    class="collapse nav flex-column ms-1"
    id="submenu1"
    data-bs-parent="#menu"
    *ngFor="let item of sortByarray; let i = index"
  >
    <li [class.w-100]="i == 0" (click)="sortBy(item)" (click)="closeNav()">
      <a class="nav-link px-0">{{ item }}</a>
    </li>
  </ul>
  <a href="#submenu2" data-bs-toggle="collapse" class="align-middle">
    <i class="fa fa-columns"></i>
    <span class="ms-1 d-none d-sm-inline">Items Per Page </span></a
  >
  <ul
    class="collapse nav flex-column ms-1"
    id="submenu2"
    data-bs-parent="#menu"
    *ngFor="let item of itemPerPage; let i = index"
  >
    <li [class.w-100]="i == 0" (click)="itemCount(item)" (click)="closeNav()">
      <a class="nav-link px-0">{{ item }}</a>
    </li>
  </ul>
</div>

<div class="d-flex mt-3">
  <span class="d-inline"
    ><button (click)="openNav()" mat-raised-button class="ms-2">
      Filter
    </button></span
  >

  <form class="example-form ms-auto me-5">
    <mat-form-field class="example-full-width" appearance="fill">
      <input
        type="text"
        placeholder="search by name"
        matInput
        #search
        [formControl]="myControl"
        (keyup)="searchinput(search.value)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div class="row" [style.margin-left]="flag ? '250px' : '16px'">
  <div
    class="card mb-5 border border-dark ms-4 me-4 col-1"
    style="width: 20rem; height: 30rem"
    *ngFor="let item of list.results; let i = index"
  >
    <div *ngIf="item.images.length >= 1; else elseBlock" style="height: 18rem">
      <div
        id="img{{ i }}"
        class="carousel slide mt-3 mb-2 justify-content-center"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner text-center">
          <div
            class="carousel-item"
            *ngFor="let img of item.images; let j = index"
            [class.active]="j == 0"
          >
            <img [src]="img.url" class="" alt="img.public_id" />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          attr.data-bs-target="#img{{ i }}"
          data-bs-slide="prev"
          [class.d-none]="item.images.length <= 1"
        >
          <span class="carousel-control-prev-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          attr.data-bs-target="#img{{ i }}"
          data-bs-slide="next"
          [class.d-none]="item.images.length <= 1"
        >
          <span class="carousel-control-next-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <ng-template #elseBlock>
      <div style="height: 18rem"></div>
    </ng-template>

    <div class="card-body mt-1">
      <div routerLink="./{{item._id}}" style="cursor: pointer;">
        <h3 class="card-title d-block" style="font-weight: 500">
          {{ item.name }}
        </h3>
        <p class="card-text desc">
          {{ item.description }}
        </p>
        <h2 class="card-text">Rs.{{ item.price }}</h2>
      </div>

      <button class="btn btn-primary" (click)="addToCart(item._id)">
        Add to Cart
      </button>
      <button class="btn btn-danger ms-2" (click)="BuyNow(item._id)">
        Buy Now
      </button>
    </div>
  </div>
  <div class="container text-center" [class.d-none]="!list">
    <h4 class="text-secondary">Nothing To Show</h4>
  </div>
  <div id="footer" class="fixed-bottom bg-body pt-2 border-top">
    <div class="container w-100">
      <nav aria-label="page navigation example">
        <ul class="pagination">
          <li
            class="page-item"
            [class.disabled]="list.page - 1 < 1"
            (click)="list.page - 1 < 1 ? '' : gotoPage(list.page - 1)"
          >
            <a class="page-link" style="cursor: pointer">&laquo;</a>
          </li>
          <li
            class="page-item"
            [hidden]="list.page - 2 <= 0"
            (click)="gotoPage(list.page - 2)"
          >
            <a class="page-link" style="cursor: pointer">{{ list.page - 2 }}</a>
          </li>
          <li
            class="page-item"
            [hidden]="list.page - 1 <= 0"
            (click)="gotoPage(list.page - 1)"
          >
            <a class="page-link" style="cursor: pointer">{{ list.page - 1 }}</a>
          </li>
          <li class="page-item" (click)="gotoPage(list.page)">
            <a class="page-link" style="cursor: pointer">{{ list.page }}</a>
          </li>
          <li
            class="page-item"
            [hidden]="list.page + 1 > list.totalPages"
            (click)="gotoPage(list.page + 1)"
          >
            <a class="page-link" style="cursor: pointer">{{ list.page + 1 }}</a>
          </li>
          <li
            class="page-item"
            [hidden]="list.page + 2 > list.totalPages"
            (click)="gotoPage(list.page + 2)"
          >
            <a class="page-link" style="cursor: pointer">{{ list.page + 2 }}</a>
          </li>
          <li
            class="page-item"
            [class.disabled]="list.page + 1 > this.list.totalPages"
            (click)="
              list.page + 1 > this.list.totalPages
                ? ''
                : gotoPage(list.page + 1)
            "
          >
            <a class="page-link" style="cursor: pointer">&raquo;</a>
          </li>

          <li class="ms-auto">
            <div class="text-secondary mt-3">
              Showing Result {{ result ? result.length : "0" }} Out Of
              {{ list.totalResults }}
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
