<div *ngIf="verify == 1" class="container w-50 border mt-5 center rounded-5 bg-success">
  <div class="text-center p-5 m-5 ">
    <h1>Email Verify Successfully</h1>
    <h4>
      go to login
      <span
        routerLink="/auth"
        routerLinkActive="activate"
        class=" text-white"
        style="cursor: pointer"
        >here!</span
      >
    </h4>
  </div>
</div>
<div *ngIf="verify == 0" class="container w-50 border mt-5 center rounded-5 bg-danger">
  <div class="text-center p-5 m-5 ">
    <h1>Email Verify Unsuccessfully</h1>
    <h3>reasons to happens:</h3>
    <h4>
      # please check link you get for varification
    </h4>
    <h4># please contact with site owner</h4>
  </div>
</div>
