<div class="m-3">
  <h2 class="text-center">change Password</h2>
  <form action="" [formGroup]="changePasswordForm" (ngSubmit)="savePassword()">
    <div class="d-flex mt-3">
      <label for="old_password">Old Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="old_password"
        name="old_password"
        [class.is-invalid]="
          (oldPassword?.invalid && oldPassword?.touched) || submmited && oldPassword?.invalid
        "
      />
    </div>
    <div class="d-flex mt-3">
      <label for="new_password">New Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="new_password"
        name="new_password"
        [class.is-invalid]="
          (newPassword?.invalid && newPassword?.touched) || submmited && newPassword?.invalid
        "
      />
    </div>
     <div class="d-flex mt-3">
      <label for="confirm_password">Confirm  Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="confirm_password"
        name="confirm_password"
          [class.is-invalid]="changePasswordForm.errors?.['misMatch'] || submmited && ConfirmPassword?.untouched"
      />
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-outline-primary" type="submit">
        Save Password
      </button>
      <button class="btn btn-outline-secondary ms-3" mat-dialog-close>
        Cancel
      </button>
    </div>
  </form>
</div>
