<form [formGroup]="resetPassowrdform" class="container w-50 border p-5 box">
  <h1 class="ms-5 mb-5">Enter New Password</h1>
  <div class="ms-5 mb-5">
    <label class="d-inline ms-1 me-5 w-25">Password</label>
    <input
      type="email"
      formControlName="password"
      name="email"
      class="w-75 form-control d-inline ms-3"
    />
  </div>
    <div class="ms-5">
    <label class="d-inline ms-1 me-2 w-25">Confirm Password</label>
    <input
      type="email"
      formControlName="confirmPassword"
      name="email"
      class="w-75 form-control d-inline"
    />
  </div>
  <div class="ms-5 mb-2">
    <small *ngIf="Message" class="text-danger ms-5"
      >please enter password & confirm password</small
    >
  </div>
  <div class="ms-5">
    <button
      mat-raised-button
      color="primary"
      class="submit d-inline mt-5"
      (click)="submit()"
    >
      Save Password
    </button>
  </div>
</form>
