
header{
    background-color: rgb(46, 45, 45);
    color: azure;
}

.login{
    /* background-color: #22577a; */
    background-image:  url('../../../assets/bluePlane.jpg');
    height: 804px;
}
.form{
    width: 500px;
    /* background-color: #FFFFFF; */
    background-image: url('../../../assets/blue with black.jpg');
}
img{
    margin-left: 180px;
    margin-top: 20px;
}
input, .submit{
    width: 300px;
}
.submit{
    margin-left: 130px;
    margin-top: 10px;
}
