<div class="container-fluid text-center" *ngIf="product">
  <h2>{{ product.name }}</h2>
  <div
    class="d-inline m-5"
    style="width: 100vw"
    *ngFor="let img of product.images; let j = index"
  >
    <img
      [src]="img.url"
      alt="img.public_id"
      height="100rem"
      [ngClass]="{ 'border-danger': deletearray.includes(img.public_id) }"
      class="m-3 border p-3"
    />
    <i class="fa fa-circle-xmark" (click)="deleteimg(img.public_id)"
      ><span><input type="checkbox" name="" id="" hidden /></span
    ></i>
  </div>
  <hr />
  <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label>Drop Image</ngx-dropzone-label>
    <ngx-dropzone-image-preview
      *ngFor="let f of files"
      [removable]="true"
      (removed)="onRemove(f)"
      ngProjectAs="ngx-dropzone-preview"
      [file]="f"
    >
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-image-preview>
  </ngx-dropzone>
  <!-- <div class="d-inline m-5 mb-5">
    <span *ngFor="let img of imageSrc , let delet of images" class="p-5">
      <img
        [src]="img"
        alt="img"
        style="height: 5rem"
        class="m-2 mb-5 border p-3"
      />
    </span>
  </div> -->
  <div class="d-flex mx-auto w-75 mt-3">
    <!-- <input
      type="file"
      multiple
      class="w-50 form-control d-inline"
      (change)="imageSelected($event)"
    /> -->
    <button
      class="btn btn-primary w-auto ms-3"
      (click)="update()"
      [disabled]="updating"
    >
      <span *ngIf="updating; else elseBlock"> Loading ....</span>
      <ng-template #elseBlock>Update Images</ng-template>
    </button>
    <button class="btn btn-danger w-auto ms-3" mat-dialog-close="true">
      cancel
    </button>
  </div>
</div>
