<div>
  <form [formGroup]="editForm" (ngSubmit)="update()">
    <div>
      <label class="d-inline w-25 me-5">First Name</label>
      <input
        type="text"
        formControlName="FirstName"
        name="FirstName"
        class="form-control d-inline ms-2"
        [class.is-invalid]="
          (FirstName?.invalid && FirstName?.touched) ||
          (submited && FirstName?.touched)
        "
      />
      <small
        class="ms-5 ps-5 text-danger"
        *ngIf="FirstName?.invalid && FirstName?.touched"
        >Name required</small
      >
    </div>

    <div class="mt-3 p-3">
      <label class="d-inline w-25 me-4">Email</label>
      <input
        type="text"
        formControlName="email"
        name="email"
        class="form-control d-inline ms-5"
        [class.is-invalid]="
          (email?.invalid && email?.touched) || (submited && email?.touched)
        "
      />
      <small
        class="ms-5 ps-5 text-danger"
        *ngIf="email?.invalid && email?.touched"
        >email required</small
      >
    </div>

    <div class="mt-3">
      <label class="d-inline w-25">Company Name</label>
      <input
        type="text"
        formControlName="CompanyName"
        name="Cname"
        class="form-control d-inline ms-4"
        [value]="Company_Name"
        [class.is-invalid]="
          (CompanyName?.invalid && CompanyName?.touched) ||
          (submited && CompanyName?.touched)
        "
      />
      <small
        class="ms-5 ps-5 text-danger"
        *ngIf="CompanyName?.invalid && CompanyName?.touched"
        >Company Name required</small
      >
    </div>
    <div>
      <small class="ms-5 ps-5 text-danger" *ngIf="submited"
        >please fill all details</small
      >
    </div>
    <button type="submit" mat-stroked-button color="warn" class="ms-5 mt-3">
      Update
    </button>
    <button
      type="button"
      mat-stroked-button
      mat-dialog-close
      color="accent"
      class="ms-5"
    >
      cancle
    </button>
  </form>
</div>
