.secondDiv {
  background-color: rgba(255, 255, 255, 0.103);
  color: #03131e;
}
.mainDiv {
  background-image: url("../../../../assets/download3.webp");
  height: 100vh;
  margin-top: 0;
  padding-top: 0;
}
label {
  display: inline-block;
  color: white;
  width: 120px;
}
input {
  display: inline;
  width: 350px;
}