<nav class="navbar navbar-expand navbar-dark bg-dark p-4 sticky-top">
  <a class="navbar-brand text-white ms-5"
    ><img src="../../../assets/AngularMindsLogo.png" height="50rem" />Angular
    Shopping</a
  >
  <div class="navbar navbar-dark ms-auto">
    <ul class="navbar-nav ms-lg-auto ps-lg-4">
      <li class="nav-item me-5 ps-5 border-start">
        <a class="nav-link" routerLink="/shop/products">
          <mat-icon
            aria-hidden="false"
            aria-label="Example add profile icon"
            fontIcon="list_alt"
            class="d-block mx-auto"
          ></mat-icon>
          <span class="">Product List</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link me-5 dropdown-toggle"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span [class.d-none]="!customer">
            <img
              [src]="profile?.picture"
              height="30rem"
              class="d-block mx-auto rounded-circle"
            />
            <span class="">{{ profile?.name }}</span>
          </span>
          <span [class.d-none]="customer != null">
            <mat-icon
              aria-hidden="false"
              aria-label="Example add profile icon"
              fontIcon="person"
              class="d-block"
            ></mat-icon>
            <span class="">user</span>
          </span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a
              class="dropdown-item"
              [class.d-none]="customer == null || path == true"
              routerLink="/shop/customer/profile"
              >profile</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              [class.d-none]="customer == null || path == false"
              routerLink="/shop/customer/cart"
              >cart</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              [class.d-none]="customer == null"
              (click)="Logout()"
              >Logout</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              [class.d-none]="customer != null"
              routerLink="/shop/auth"
              >Sign In</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              [class.d-none]="customer != null"
              routerLink="/shop/auth/register"
              >Register</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="row px-5">
  <button class="btn col-6" [class.border-bottom]="isProfile" (click)="isProfile = true">Profile</button>
  <button class="btn col-6" [class.border-bottom]="!isProfile" (click)="isProfile = false">Cart</button>
</div>
<app-profile [class.d-none]="!isProfile"></app-profile>
<app-cart [class.d-none]="isProfile" ></app-cart> -->
